<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"  href="static/img/Iconshow.png">
    <title>História</title>
</head>
<body style="background-color: #ddffcc">

    <h1 style="font-family:garamond;">Nossa História</h1>
    <p style="font-size:130%; font-family:garamond; text-align:justify;" >

        Em 1996, as ruas movimentadas da cidade de Uberlândia, em Minas Gerais, presenciaram o início de uma trajetória
        inspiradora. Valdir, um homem de espírito inabalável , decidiu iniciar um negócio de feira junto
        de sua esposa Rejane, mulher forte e de visão empreendedora.
        O casal montou a sua primeira banca na Feira Livre do bairro Martins. No início, vendiam frutas colhidas na região.
        Aos poucos, começaram a diversificar, trazendo legumes, verduras e produtos regionais. Rejane, com sua habilidade
        natural para negociações, buscava sempre os melhores fornecedores e preços, enquanto Valdir se encarregava da logística
        e do atendimento aos clientes.
        Em 2001, a já não tão pequena Aline, com seus 9 anos de idade, começou a acompanhar seus pais na feira. Ela ficava
        fascinada com a diversidade de cores e sabores das frutas e legumes e logo começou a ajudar, mesmo que apenas organizando
        os produtos ou fazendo pequenas vendas para os vizinhos e amigos.
        Em meados de 2019, notando uma crescente demanda por comodidade entre os clientes, Aline teve a ideia de oferecer
        legumes e verduras já picados, prontos para o consumo. A ideia, inicialmente vista com ceticismo por muitos outros
        feirantes, provou ser um verdadeiro sucesso. Muitos clientes, principalmente aqueles com rotinas agitadas, começaram a
        preferir os produtos da família devido à facilidade e praticidade oferecidas.
        Aline, ao crescer, teve uma participação ativa nesse novo ramo. Ela se encarregava de selecionar as melhores verduras
        e legumes e, com um cuidado especial, preparava os pacotes prontos para os clientes. Esse diferencial, somado ao
        atendimento caloroso da família, fez com que a banca se destacasse ainda mais nas feiras de Uberlândia.
        Hoje, quase 30 anos após o início dessa jornada, Valdir e Rejane, ainda com a mesma
        energia, continuam presentes na feira todas as semanas. Aline, agora com seus próprios filhos, divide seu tempo
        entre ajudar na banca e garantir que o negócio de verduras e legumes picados continue prosperando, assegurando
        a tradição e os valores ensinados por seus pais sejam passados para as próximas gerações.
        O legado dos feirantes de Uberlândia é uma prova viva de que com determinação, trabalho duro e amor, é possível
        construir uma história de sucesso e, mais importante, uma família unida.
    </p>


<ul>
    <li><a style="font-weight:bold;" href="/">Retornar para a Homepage</a></li>
<ul>



</body>
</html>