<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"  href="static/img/Iconshow.png">
    <title>Homepage</title>
</head>

<body style="background-color: #ddffcc">
    <h1>Seja Bem Vindo(a)!</h1>
    <h2>Este é um site feito para testes </h2>
    <label for="caixa_texto">Procurar Produtos:</label>
    <input type="text" id="caixa_texto" name="texto">
    <style>
    input[type="text"] {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    </style>

<ul>
    <li><a href="produtos">Veja Nossos Produtos</a></li>
</ul>

<ul>
    <li><a href="contato">Entre em contato conosco</a></li>
</ul>



</body>
