<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"  href="static/img/Iconshow.png">
    <title>Homepage</title>
</head>

<body style="background-color: #ddffcc">
    <h1 style="text-align:center; ">Seja Bem Vindo(a)!</h1>
    <h2 style="text-align:center; font-size:220%;">REAL PICADINHOS</h2>



<ul>
    <li><a style="font-weight:bold;" href="produtos">Veja Nossos Produtos</a></li>
</ul>

<ul>
    <li><a style="font-weight:bold;" href="contato">Entre em Contato Conosco</a></li>
</ul>

<ul>
    <li><a style="font-weight:bold;" href="historia">Nossa História</a></li>
</ul>
&nbsp;
&nbsp;
&nbsp;
&nbsp;

    <p style="font-weight:bold; font-size:130%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Locais da nossa banca</p>


<ul>
    <li><p style="font-weight:bold;">Domingo</p></li>
    <p>Bairro: Nossa Senhora das Graças</p>
    <p>Horário: 07:30 hs às 10:00 hs</p>
    <p>Endereço: Rua André Rebouças</p>
</ul>

<ul>
    <li><p style="font-weight:bold;">Quarta-feira</p></li>
    <p> Bairro: Patrimônio</p>
    <p>Horário: 15:00 hs às 20:00 hs</p>
    <p>Endereço: Rua Tenente Rafael de Freitas</p>
</ul>


</body>
