<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"  href="static/img/Iconshow.png">
    <title>Produtos</title>

</head>
<body style="background-color: #ddffcc">
    <h1>Produtos Disponíveis</h1>
    <a href="/vegetais"><img src="static/img/Iconshow.png" alt="vegetais" title="vegetais" width="150" height="150" hspace="20"></a>
    <a href="/feira"><img src="static/img/feira-livre-1.jpg" alt="feira" title="feira" width="150" height="150"></a>




<!--url de retorno para a homepage-->
<ul>
    <li><a href="/">Retornar para a Homepage</a></li>
</ul>


</body>
</html>